APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_DRIVE_CLIENT_ID=297855364752-50oh6n0pdao75ro987cj4pt3vgg4o39c.apps.googleusercontent.com
GOOGLE_DRIVE_CLIENT_SECRET=1rvY4xtuWk5dLSgK3QlQthLi
GOOGLE_DRIVE_REFRESH_TOKEN=1//048NkYkx2jdEgCgYIARAAGAQSNwF-L9Ir87xt96mCb3IfYtCVvVHiykGXq9q53ywU_k5P8NNVOeZrP9Qig72E4T-_J69YtiWsimA
GOOGLE_DRIVE_IMAGE_FOLDER_ID=19jONeZCH508z4V8LeGTSYzJIxYWBj6Or
GOOGLE_DRIVE_AUDIO_FOLDER_ID=1gM6e67A9mhsip6zaIgraAPsFTxGTRrwq
GOOGLE_DRIVE_VIDEO_FOLDER_ID=1skvRgqX8EkOa3i9urJgu7V-WIvVCDsK1
