/* Large screen desktop */
@media (min-width: 1366px) and (max-width: 1500px) { .logo { height: 100px; line-height: 100px; }
  .main__menu > li > a { height: 100px; line-height: 100px; }
  .cart__search__list { height: 100px; line-height: 100px; } }

@media (min-width: 1170px) and (max-width: 1366px) {
  .logo { height: 100px; line-height: 100px; }
  .main__menu > li > a { height: 100px; line-height: 100px; }
  .cart__search__list { height: 100px; line-height: 100px; } }

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) { .main__menu li + li { margin-left: 12px; }
  nav.mainmenu__nav .cart__search { margin-left: 32px; }
  .courses__details__inner { padding: 27px 11px; }
  .slick-dots { bottom: -191px; }
  .lst__view__details h2 { margin-bottom: 10px; }
  .list__btn { margin-top: 13px; }
  .main__menu li.drop ul.dropdown { width: 230px; }
  .main__menu > li > a { font-size: 14px; padding: 0 13px; }
  /* Slider */
  /* Slider 2 */
  /*.slider__full--screen { height: 600px; }*/
  /* Slider 3 */
  .logo { height: 80px; line-height: 80px; }
  .main__menu > li > a { height: 80px; line-height: 80px; }
  .cart__search__list { height: 80px; line-height: 80px; }
  /* .slider__full--screen.slider--2, .slider__full--screen.slider--3 { height: 550px; } */ }

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .sm-mt-40 { margin-top: 40px; }
  .header__address li + li { margin-left: 34px; }
  .main__menu li + li { margin-left: 13px; }
  nav.mainmenu__nav .cart__search { margin-left: 30px; }
  .logo { height: 84px; justify-content: center; line-height: 99px; padding-top: 17px; }
  .testimonial-text-slider p { padding: 20px 11%; }
  .slick-dots { bottom: -193px; }
  .courses__teacher { margin-right: 10px; padding-right: 10px; }
  .crs__teacher__images { margin-right: 6px; }
  .list__btn { margin-top: 15px; }
  .lst__view__details h2 { margin-bottom: 10px; }
  /* Menu */
  .main__menu > li > a { padding: 0 8px; }
  nav.mainmenu__nav .cart__search { margin-left: 15px; }
  /* Slider */
  /* Slider 2 */
  /* Slider 3 */
  /*End*/
  nav.mainmenu__nav { justify-content: center; }
  #scrollUp { bottom: 85px; } }

/* small mobile :320px. */
@media (max-width: 767px) { .container { /* width: 300px; */ width: calc(100% - 20px); }
  .xs-mt-0 { margin-top: 0; }
  .xs-mt-40 { margin-top: 40px; }
  /* Slider */
  /* Slider 2 */
  /* Slider 3 */
  /* Slider 4  */
  /*End*/
  .htc__header__top { height: 154px; }
  .header__address { display: block; }
  .header__top__right { display: block; }
  .header__address li + li { margin-bottom: 8px; margin-left: 0; margin-top: 4px; }
  .login__register { margin-left: 0; padding-left: 0; }
  .login__register::before { content: inherit; }
  .social__icon, .login__register { justify-content: center; }
  .header__top__left { text-align: center; }
  .courses { margin-top: 30px; }
  .courses__details__inner { padding: 27px 15px; }
  .courses__details h2 { font-size: 22px; }
  .courses__hover__thumb { margin-right: 8px; }
  .medilearn-count { margin: 0; }
  .testimonial-text-slider p { padding: 20px 0%; }
  .blog { margin-top: 30px; }
  .courses__details__top h2 { line-height: 36px; }
  .courses__teacher { margin-right: 0; padding-right: 0; }
  .courses__teacher::before { content: inherit; }
  .courses__view { flex-wrap: wrap; }
  .courses__view li { width: 50%; }
  .courses__view li + li { margin-left: 0; }
  .courses__grid__inner { display: block; }
  .courses__searsh__box input { width: 231px; }
  .courses__searsh__box a { top: 0; }
  .courses__searsh__box { padding-bottom: 22px; }
  .single__list__view { display: block; }
  .list__view__inner { margin-top: 16px; }
  .ml-port-filter-nav { flex-flow: row wrap; }
  .ml-port-filter-nav li + li { margin-left: 36px; }
  .ml-port-filter-nav li:nth-child(n + 4) { margin-top: 14px; }
  .ml-port-filter-nav li:nth-child(4) { margin-left: 0; }
  .contact-box.name_email { display: block; margin-left: 0; margin-right: 0; }
  .contact-box.name_email input { margin: 0; width: 100%; }
  .contact-box.name_email input + input { margin-top: 20px; }
  /* Testimonial */
  .testimonial-wrap { margin: auto; width: 100%; }
  .testimonial-wrap .slick-slide { display: block !important; text-align: center; }
  .testimonial-wrap .text-thumb { margin: auto; }
  .testimonial-wrap .slick-dots { bottom: -150%; } }

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { .container { width: 450px; }
  /* Slider */
  /* Slider 4  */
  .courses__searsh__box input { width: 385px; }
  .ml-port-filter-nav li:nth-child(4) { margin-left: 36px; }
  .ml-port-filter-nav li:nth-child(n + 4) { margin-top: 0; }
  .ml-port-filter-nav li + li { margin-left: 30px; }
  .testimonial-wrap .slick-dots { bottom: -105%; } }
