@charset "UTF-8";
/*

    font-family: 'Roboto Slab', serif;

    font-family: 'Raleway', sans-serif;


*/
/*---------------------------------------- Menu basic style ------------------------------------------*/
.header { z-index: 10; position: relative; }

.main__menu { display: flex; justify-content: flex-end; }

.main__menu > li > a { display: block; font-size: 15px; font-weight: 700; height: 100px; line-height: 100px; padding: 0 10px; position: relative; text-transform: uppercase; color: #333333; font-family: 'Roboto Slab', serif; }

.main__menu li { position: relative; }

.main__menu > li:hover > a { color: #005691; }

.main__menu li + li { margin-left: 20px; }

.logo { display: flex; height: 100px; line-height: 100px; }

.logo a { display: block; }

.mainmenu__wrap .col-md-9 { padding-right: 0px; }

.main__menu li:last-child a { padding-right: 0; }

.header--two .main__menu li.drop::before { color: #fff; }

/*----------------------------------------- Sticky  For  Header -------------------------------------------*/
.sticky__header.scroll-header { animation: 300ms ease-in-out 0s normal none 1 running fadeInDown; background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0; box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4); left: 0; margin: 0 auto; position: fixed; right: 0; top: 0; width: 100%; z-index: 9999; }

.header--two .sticky__header.scroll-header { background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0; }

.sticky__header.scroll-header .logo, .sticky__header.scroll-header .main__menu > li > a, .sticky__header.scroll-header .cart__search__list { height: 70px; line-height: 70px; }

.fluid-container.mobile-menu-container { position: relative; }

.mobile-logo { align-items: center; display: flex; height: 55px; left: 0; padding-left: 15px; position: absolute; top: 0; z-index: 2147483647; }

.mobile-logo img { max-height: 35px; }

/*----------------------------- Dropdown Menu --------------------------------*/
.main__menu li.drop { position: relative; transition: 0.4s; }

.main__menu li.drop::before { color: #333333; content: ''; font-family: 'Ionicons'; font-size: 12px; position: absolute; right: -6px; top: 50%; transform: translateY(-50%); }

.main__menu li.drop ul.dropdown { background: #ffffff none repeat scroll 0 0; box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12), 7px 0 12px rgba(0, 0, 0, 0.12); left: 0; margin: 0; opacity: 0; padding: 12px 0; position: absolute; top: 100%; transform-origin: center top 0; transition: all 0.5s ease 0s; visibility: hidden; width: 233px; z-index: 999; }

.main__menu li.drop:hover ul.dropdown { opacity: 1; visibility: visible; }

.scroll-header .main__menu li.drop ul.dropdown { top: 100%; }

.scroll-header .main__menu li.drop:hover ul.dropdown { top: 100%; }

.main__menu ul.dropdown li { display: block; }

.main__menu ul.dropdown li a { background: #ffffff none repeat scroll 0 0; color: #333333; display: block; font-family: Roboto Slab; font-size: 14px; font-weight: 400; padding: 10px 16px 8px 25px; text-align: left; text-decoration: none; text-transform: uppercase; transition: all 0.4s ease 0s; }

.main__menu li.drop ul.dropdown li:hover > a { color: #005691; }

.header--two .main__menu li.drop ul.dropdown li:hover > a { color: #e9ae37; }

.main__menu li.drop ul.dropdown li { margin-left: 0px; }

/*---------------------------- Sub Menu ---------------------------*/
.main__menu li.drop ul.dropdown li.drop::after { color: #999; content: ''; font-family: 'Material-Design-Iconic-Font'; font-size: 13px; position: absolute; right: 20px; top: 12px; transition: all 0.2s ease-in-out 0s; }

.main__menu li.drop ul.dropdown li.drop { position: relative; }

/*--------------------------------- Header Top Area --------------------------------*/
.htc__header__top { align-items: center; display: flex; height: 56px; }

.header-tel { color: #ffd700; font-size: 16px !important; }

.header-tel img { margin-right: 10px; }

.header__address { display: flex; }

.header__top__right { display: flex; justify-content: flex-end; }

.social__icon { display: flex; }

.login__register { display: flex; }

.header__address li + li { margin-left: 30px; }

.header__address li a i { padding-right: 10px; }

.social__icon li a i { font-size: 18px; }

.social__icon li + li { padding-left: 28px; }

.login__register { margin-left: 28px; padding-left: 28px; }

.login__register li + li { padding-left: 30px; }

.login__register li a { font-family: 'Raleway', sans-serif; font-size: 14px; font-weight: 500; }

.login__register { position: relative; }

.login__register::before { background: #99bbd3 none repeat scroll 0 0; content: ''; height: 16px; left: 0; position: absolute; top: 50%; transform: translateY(-50%); width: 1px; }

/*----------------------------------- Toggle Menu ---------------------------------------*/
.search__area .search__inner form button::before { color: #333; content: ''; display: block; font-family: FontAwesome; font-size: 18px; transition: color 300ms ease 0s; }

.toggle-menu { display: flex; justify-content: flex-start; padding-left: 15px; }

.cart__search__list { display: flex; justify-content: flex-end; }

.cart__search__list { height: 100px; line-height: 100px; }

.cart__search__list li + li { margin-left: 40px; }

.cart__search__list li { position: relative; }

.cart__search__list li a i { color: #333; font-size: 18px; }

.toggle-menu i { cursor: pointer; font-size: 24px; }

.site-info-wrap { width: 870px; }

/*New code*/
.site-info-wrap { background: #fff none repeat scroll 0 0; border-top: 1px solid #f1f1f1; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08); display: none; left: 0; padding: 30px; position: absolute; top: 100%; }

.site-info-wrap p { margin-bottom: 20px; }

/*--------------------------- Search area -------------------------------*/
.search__area { background: #e9ae37; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08); left: 0; position: fixed; right: 0; top: 0; transform: translateY(-200%); transition: all 300ms ease 0s; z-index: 2147483647; }

.search__area .search__inner { position: relative; }

.search__area .search__inner form { margin: 4em 0; padding: 0 40px 0 0; position: relative; text-align: center; }

.search__area .search__inner form input[type='text'] { background: #fff none repeat scroll 0 0; border: medium none; color: #333; font-size: 25px; font-weight: 300; height: 60px; line-height: 60px; padding: 0 70px 0 20px; text-align: left; }

.search__area .search__inner form input[type='text']::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #333; font-size: 25px; font-weight: 300; }

.search__area .search__inner form input[type='text']::-moz-placeholder { /* Firefox 19+ */ color: #333; font-size: 25px; font-weight: 300; }

.search__area .search__inner form input[type='text']:-ms-input-placeholder { /* IE 10+ */ color: #333; font-size: 25px; font-weight: 300; }

.search__area .search__inner form input[type='text']:-moz-placeholder { /* Firefox 18- */ color: #333; font-size: 25px; font-weight: 300; }

.search__area .search__inner form button { background: transparent none repeat scroll 0 0; border: 0 none; border-radius: 0; cursor: pointer; height: 60px; line-height: 60px; position: absolute; right: 40px; top: 0; width: 60px; transition: 0.3s; }

.search__area .search__inner form button:hover { background: #f36371 none repeat scroll 0 0; }

.search__area .search__inner form button:hover::before { color: #fff; }

.search__area .search__inner .search__close__btn { display: block; line-height: 58px; position: absolute; right: 0; top: 0; }

.search__area .search__inner .search__close__btn { color: #fff; cursor: pointer; font-size: 21px; line-height: 58px; }

.search__close__btn .search__close__btn_icon i { transition: all 0.5s ease 0s; transform: scale(1) rotate(0deg); }

.search__close__btn .search__close__btn_icon:hover i { transform: scale(2) rotate(180deg); color: red; }

.search__box__show__hide .search__area { transform: translateY(0px); transition: all 300ms ease 0s; }

.cart__search__list li a i { transition: 0.3s; font-size: 24px; }

.cart__search__list li a:hover i { color: #005691; }

nav.mainmenu__nav { display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: flex-end; -ms-align-items: center; align-items: center; }

nav.mainmenu__nav .cart__search { margin-left: 40px; }

/*--------------------------------------- 03. Header Style Two And Three ----------------------------------------*/
.htc__header--transparent { position: relative; z-index: 2; }

.htc__header--transparent::before { background: #000 none repeat scroll 0 0; content: ''; height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%; z-index: -1; }

.htc-header.header--two { position: absolute; z-index: 999; top: 0; left: 0; width: 100%; }

.header--two .main__menu > li > a { color: #fff; }

/*----------------------------- Header Style 2 -------------------------------*/
.header--two .main__menu > li:hover > a { color: #e9ae37; }

.header--two .htc__header__top { border-bottom: 1px solid #484a4a; }

.header--two .cart__search__list li a i { color: #fff; font-size: 24px; }

.header--two .search__area { background: #ffd700; }

.header--two .cart__search__list li a:hover i { color: #e9ae37; }

/*----------------------------- Header Style 3 -------------------------------*/

/*----------------------------- Header Style 4 -------------------------------*/

/*----------------------------- Footer Default ------------------------------*/

/*-----------Footer Style 2-----------*/

/*-----------Footer Style 3-----------*/

/*-----------Footer Style 4-----------*/

.footer { padding: 80px 0; background: #333; }

.sidebar-menu { font-family: 'Roboto Slab'; color: #333; background: #fff; }

.sidebar-menu .item-sub { position: relative; cursor: pointer; }

.sidebar-menu .item-sub:after { content: '\f104'; font-family: fontawesome; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-size: 14px; }

.sidebar-menu .active > .item-sub:after { content: '\f107'; }

.sidebar-menu h3 { background: #e9ae37; padding: 16px 10px; color: #333 !important; }

.sidebar-menu i { margin-right: 10px; }

.sidebar-menu li { list-style-type: none; }

.sidebar-menu ul ul li a, .sidebar-menu h4 { position: relative; color: #333; text-decoration: none; font-size: 15px; display: block; padding: 12px 15px; border-bottom: 1px dotted #ccc; transition: all 0.15s; }

.sidebar-menu a:before, .sidebar-menu .item-sub:before { content: ''; position: absolute; top: 10px; bottom: 10px; left: 0; width: 2px; background: #e9ae37; opacity: 0; transition: .4s; }

.sidebar-menu a:hover, .sidebar-menu a.active, .sidebar-menu .item-sub:hover, .sidebar-menu .item-sub.active { color: #e9ae37; }

.sidebar-menu a:hover:before, .sidebar-menu a.active:before, .sidebar-menu .item-sub:hover:before, .sidebar-menu .item-sub.active:before { opacity: 1; }

.sidebar-menu ul ul { display: none; }

.sidebar-menu li.active > ul { display: block; }

.sidebar-menu ul ul ul { margin-left: 15px; }

.sidebar-menu .item_lv_2 { background: #fff; }

.sidebar-menu .item_lv_3 { background: #fff; }

.sidebar-menu .item_lv_4 { background: #fff; }

.sidebar-news { margin-top: 30px; }

.sidebar-news__title { position: relative; padding: 20px 20px; font-size: 16px; border-bottom: 1px solid #eee; line-height: 1.4; }

.sidebar-news__title.active { color: #e9ae37; }

.sidebar-news__title.active:after { content: ""; position: absolute; top: 20%; left: 0; width: 3px; height: 60%; background: #e9ae37; }

/*----------------------------------------------------------------------------------- Template Name: Educan Education HTML Template. Template URI: # Description: Educan is a unique website template designed in HTML with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design corporate, corporate any other purposes websites. Author: HasTech Author URI: https://themeforest.net/user/hastech/portfolio Version: 1.0 -----------------------------------------------------------------------------------*/
/*

    font-family: 'Open Sans', sans-serif;

    font-family: 'Lato', sans-serif;

*/
/*---------------------
Slider images
-----------------------*/

/**----------------------------------
! 8. Background variation
-------------------------------------------**/

.slider__position--relative { position: relative; }

/*------------------------------------------- Slider Owl Activation --------------------------------------------*/
.slide { height: 100%; display: flex; align-items: center; }

.slider__activation__wrap .owl-nav div { height: 65px; left: -80px; line-height: 65px; opacity: 1; position: absolute; top: 50%; transform: translateY(-50%); transition: all 0.5s ease 0s; width: 65px; padding: 0 !important; text-align: center !important; }

.slider__activation__wrap .owl-nav div.owl-next { left: auto; right: -80px; }

.slider__activation__wrap:hover .owl-nav div { left: 20px; }

.slider__activation__wrap:hover .owl-nav div.owl-next { left: auto; right: 20px; }

.slider__activation__wrap.owl-theme .owl-nav [class*='owl-'] { background: rgba(0, 0, 0, 0.1); border-radius: 100%; color: #fff; cursor: pointer; }

.slider__activation__wrap.owl-theme .owl-nav [class*='owl-'] { font-size: 24px; }

.slider__activation__wrap.owl-theme .owl-nav .disabled { opacity: 1; }

.slider__activation__wrap.owl-theme .owl-nav [class*='owl-']:hover { background: #f36371 none repeat scroll 0 0; }

/*------------------------------------------ Slider Inner ---------------------------------------*/

/*--------------------Text Align ----------------*/

/*--------------------Text Align Center ----------------*/

/*---------------------------- Slider Fornt Images -----------------------------*/

/*------------------------- Slider Style 2 ---------------------------*/

/*-------------------- Slider Style 3 ----------------------*/

/*-------------------------- Slider Style 4 ----------------------------*/

/*--------------------------------- Button Style -----------------------------------*/

.htc__btn { background: #e9ae37 none repeat scroll 0 0; color: #fff; display: inline-block; font-family: Roboto Slab; font-size: 15px; font-weight: 700; height: 48px; line-height: 48px; overflow: hidden; padding: 0 10px; position: relative; text-transform: uppercase; z-index: 2; }

.btn--theme { background: #e9ae37 none repeat scroll 0 0; color: #fff; height: 48px; line-height: 48px; padding: 0 10px; }

/*------------------------- Btn Hover -------------------------*/
.htc__btn::after { background: #fff none repeat scroll 0 0; height: 0; left: 50%; opacity: 0; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); width: 100%; content: ''; position: absolute; transition: all 0.5s ease 0s; z-index: -1; }

.btn--theme::after { background: #f36371 none repeat scroll 0 0; }

.htc__btn:hover::after { height: 400%; opacity: 1; }

.btn--theme:hover::after { height: 462%; }

.btn--theme:hover { color: #fff; }

/*----------------------------------------*/
/*  1. Google fonts
/*----------------------------------------*/
/*--------------------------------------- 02. Scroll To Top ----------------------------------------*/
#scrollUp { border: 3px solid rgba(0, 0, 0, 0.1); border-radius: 100%; bottom: 15px; box-sizing: content-box; color: #fff; font-size: 20px; height: 50px; line-height: 52px; position: fixed; right: 15px; text-align: center; transition: all 0.3s ease 0s; width: 50px; z-index: 200; background: #f36371 none repeat scroll 0 0; }

#scrollUp:hover i { animation: 800ms linear 0s normal none infinite running scroll-ani-to-top; height: 100%; left: 0; margin-bottom: -25px; position: absolute; width: 100%; bottom: 0; }

#scrollUp i { color: #fff; }

@keyframes scroll-ani-to-top { 0% { opacity: 0;
    bottom: 0; }
  50% { opacity: 1;
    bottom: 50%; }
  100% { opacity: 0;
    bottom: 75%; } }

/*--------------------------------------- 03. Our About Area ----------------------------------------*/

/*--------------------------------------- 04. Our Counterup Area ----------------------------------------*/

/*--------------------------------------- 05. Our Popular Courses Area ----------------------------------------*/
.courses__thumb a { display: block; position: relative; overflow: hidden; }

.courses__thumb a img { width: 100%; transition: 0.6s; }

.courses:hover .courses__thumb a img { transform: scale(1.2); }

.courses__hover__info { bottom: 0; height: 60px; position: absolute; width: 100%; }

.courses__hover__info:before { background: #666 none repeat scroll 0 0; content: ''; height: 100%; opacity: 0.6; position: absolute; width: 100%; }

.courses__thumb { position: relative; }

.courses__hover__action { align-items: center; display: flex; height: 60px; padding-left: 20px; position: relative; z-index: 2; }

.courses__hover__action h4 { color: #fff; font-family: 'Roboto Slab'; font-size: 15px; text-transform: capitalize; }

.courses__hover__thumb { margin-right: 20px; }

.courses__hover__action span.crs__separator { color: #fff; padding: 0 3px; }

.courses__hover__action p { color: #fff; font-size: 15px; font-style: italic; text-transform: capitalize; }

.courses__details h2 { font-size: 28px; margin-bottom: 11px; }

.courses__details__title { display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; }

.courses__details__title a { position: relative; z-index: 9; color: #c0392b; }

.courses__details__title a:after { content: ''; position: absolute; left: -5px; bottom: -2px; background: #ffd700; opacity: 0.5; height: 10px; width: calc(100% + 10px); z-index: -1; transform: skew(-40deg); }

.courses__meta { display: flex; flex-wrap: wrap; flex-direction: column; background: #f6f8f9; justify-content: space-between; padding: 10px 20px; border-left: 3px solid #ccc; }

.courses__meta li { margin: 5px 0; }

.courses__meta .icon { display: inline-block; min-width: 10px; }

.courses__meta .highlight { color: #723b00; }

.courses { border: 1px solid #f0f0f0; }

.courses__meta li.crs__price { font-size: 15px; }

.courses__meta li.crs__price span:after, .courses__meta li.crs__price del:after { content: 'đ'; }

.courses__meta li.crs__price span { color: #723b00; font-weight: 700; font-size: 18px; padding-left: 10px; }

.courses__meta li.crs__price del { margin-left: 10px; color: #a4a4a4; font-style: italic; }

.courses__meta li { color: #a4a4a4; font-size: 15px; text-transform: capitalize; }

.courses__meta li i { margin-right: 11px; }

.courses__details__inner { padding: 27px 20px; }

.popular__courses__wrap .col-md-4 { width: 100%; }

/*popular courses stylr 2*/

/*popular courses stylr 3*/

/*------------------------------------- 06. Countdown Area ----------------------------------------*/

.medilearn-count { align-items: center; border: 1px solid #fff; border-radius: 100%; display: flex; height: 128px; justify-content: center; margin: auto 15px; text-align: center; width: 128px; }

.time-count { color: #fff; font-family: 'Roboto Slab'; font-size: 48px; font-weight: 700; }

.count-inner p { color: #fff; font-size: 14px; font-weight: 700; line-height: 15px; margin-top: 6px; }

/*-----------Countdown Style 3----------*/

/*-----------Countdown Style 4----------*/

/*------------------------------------- 07. Our Upcoming Event ----------------------------------------*/

/*----------Upcoming Event Style 2-----------*/

/*----------Upcoming Event Style 3-----------*/

/*-------------------------------------------- 08. Our Testimonial Area --------------------------------------------*/
.sin-testiImage.slick-slide.slick-current.slick-active.slick-center .text-thumb img { z-index: 999; transform: scale(1.4); }

.text-thumb { max-width: 90px; padding-top: 50px; }

.text-thumb img { cursor: pointer; margin: auto; }

.sin-testiImage:not(.slick-center) .test-info { display: none; }

.sin-testiImage:not(.slick-center) .test-info h4 { color: #fff; font-family: 'Roboto Slab'; font-size: 15px; font-weight: 700; line-height: 22px; margin-top: 21px; text-transform: capitalize; }

.sin-testiImage:not(.slick-center) .test-info p { color: #fff; font-family: 'Roboto Slab'; font-size: 15px; font-weight: 400; line-height: 20px; margin-top: 2px; text-transform: capitalize; }

.sin-testiImage:not(.slick-center) .text-thumb { position: relative; }

.sin-testiImage:not(.slick-center) .text-thumb::before { background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0; border-radius: 100%; bottom: 0; content: ''; cursor: pointer; display: block; height: 90px; left: 0; position: absolute; right: 0; top: 50px; width: 90px; z-index: 1; }

.testimonial-text-slider { padding: 12px 20px; text-align: left; }

.testimonial-text-slider p { color: #fff; font-size: 15px; line-height: 24px; padding: 20px 14%; position: relative; text-align: center; }

.testimonial-wrap { margin-top: 30px; width: 650px; margin: auto; }

.testimonial-wrap .slick-slide { display: flex !important; flex-wrap: wrap; justify-content: center; text-align: center; }

.test-info { margin: auto; padding-top: 30px; position: relative; text-align: center; z-index: 999999; }

.slick-list.draggable { padding: 0 !important; }

.slick-dots { bottom: -165px; }

.slick-dots li { height: 13px; width: 13px; }

.slick-dots li.slick-active button::before { background: #f36371; opacity: 1; }

.slick-dots li button::before { background: #fff none repeat scroll 0 0; color: #fff; content: ''; font-family: 'slick'; height: 13px; left: 0; line-height: 20px; opacity: 1; position: absolute; text-align: center; top: 0; width: 13px; }

/*-----------Testimonial Style 2----------*/

/*-----------Testimonial Style 3----------*/

/*-------------------------------------------- 09. Our Blog Area --------------------------------------------*/
.blog__thumb { position: relative; }

.blog__thumb a { display: block; overflow: hidden; }

.blog__date { left: 20px; position: relative; top: -20px; }

.blog__date span { background: #e9ae37; color: #fff; display: inline-block; font-size: 13px; font-weight: 700; height: 40px; line-height: 40px; padding: 0 16px; text-transform: uppercase; transition: all 0.4s ease 0s; }

.blog__details h2 { font-size: 18px; margin-top: 7px; line-height: 1.4; }

.blog__details p { font-size: 15px; margin-top: 18px; }

.read__more__btn { color: #333; font-size: 15px; font-weight: 500; text-transform: capitalize; }

.blog__btn { margin-top: 21px; }

.blog__thumb a img { transition: 0.6s; }

.blog:hover .blog__thumb a img { transform: scale(1.2); }

/*---------Blog Style 2-------*/

/*---------Blog Style 3-------*/

/*---------Blog Style 4-------*/

/*-------------------------------------------- 10. Our Newsletter Area --------------------------------------------*/

/*----------Our Newsletter Style 2-----------*/

/*----------Our Newsletter Style 3-----------*/

/*----------Our Newsletter Style 4-----------*/

/*-------------------------------------------- 11. Our Bradcaump Area --------------------------------------------*/

/*-------------------------------------------- 12. Our Portfolio Area --------------------------------------------*/

.pro-item { margin-top: 30px; }

.ml-port-filter-nav { display: flex; justify-content: center; }

.ml-port-filter-nav li { color: #333; cursor: pointer; font-family: 'Roboto Slab'; font-size: 15px; font-weight: 700; padding-bottom: 18px; position: relative; text-transform: capitalize; transition: all 0.3s ease 0s; }

.ml-port-filter-nav li + li { margin-left: 50px; }

.ml-port-filter-nav li::before { background: #005691 none repeat scroll 0 0; bottom: 0; content: ''; height: 2px; position: absolute; transition: all 0.4s ease 0s; width: 0; }

.ml-port-filter-nav li.is-checked::before { width: 100%; }

.ml-port-filter-nav li:hover, .ml-port-filter-nav li.is-checked { color: #005691; }

/*-------------------------------------------- 13. Our Pagination Area --------------------------------------------*/
.htc-pagination li a { border: 1px solid #e3e3e3; color: #333; display: inline-block; font-size: 15px; font-weight: 500; height: 40px; line-height: 35px; text-align: center; width: 40px; }

.htc-pagination { border-top: 1px solid #ededed; display: flex; }

.htc-pagination li + li { margin-left: 10px; }

.htc-pagination { padding-top: 50px; }

.htc-pagination li a i { line-height: 37px; }

.htc-pagination li.active a, .htc-pagination li:hover a { background: #e9ae37; color: #fff; }

.htc-pagination li.active a, .htc-pagination li:hover a { border: 1px solid #e9ae37; }

/*-------------------------------------------- 14. Our Service Area --------------------------------------------*/

/*Service Color 2*/

/*Service Color 3*/

/*Service Color 4*/

/*-------------------------------------------- 15. Our Findout Area --------------------------------------------*/

/*--------------------------------------- 16. Our Offer Area ----------------------------------------*/

/*--------------------------------------- 17. Our Choose Area ----------------------------------------*/

/*--------------------------------------- 18. Our Stories Area ----------------------------------------*/

/*--------------------------------------- 19. Our Team Area ----------------------------------------*/

/*--------------------------------------- 20. Our Profile Area ----------------------------------------*/
/*----------Teacher Area-----------*/

/*---------- All courses -----------*/

/*--------teacher shedule--------*/

/*----------------------------- 21. Progress Bar -------------------------------*/

.progress { background-color: #e6e6e6; border-radius: 3px; box-shadow: none; height: 6px; margin-bottom: 19px; overflow: visible; }

/*--------progress__bar--2-----------*/

/*----------------------------- 22. Section Title -------------------------------*/
.section__title h2.title__line { font-weight: 600; line-height: 24px; text-transform: uppercase; }

.section__title p { color: #888; font-size: 15px; font-weight: 400; margin-top: 13px; }

.section__title { padding-bottom: 26px; position: relative; }

.section__title::before { background: #fff none repeat scroll 0 0; bottom: 0; content: ''; height: 2px; left: 50%; position: absolute; transform: translateX(-50%); width: 60px; }

.section__title.section--white::before { background: #fff none repeat scroll 0 0; }

.section__title.section--white h2.title__line { color: #fff; }

.section__title.section--white p { color: #fff; }

.title__style--2 { font-size: 18px; margin-bottom: 22px; padding-bottom: 19px; position: relative; text-transform: uppercase; }

.title__style--2::before { background: #fff none repeat scroll 0 0; bottom: 0; content: ''; height: 2px; left: 0; position: absolute; width: 60px; }

/*---------------
End Section Title
------------------*/
/*---------------------- 23. Google Map -------------------------*/
#googleMap { height: 450px; width: 100%; }

/*----------------------------- 24. Our Blog Details -------------------------------*/

.blog__thumb a img { width: 100%; }

/*----------------------------- 25. Our Courses -------------------------------*/
.courses__grid__inner { align-items: center; background: #f5f5f5 none repeat scroll 0 0; display: flex; justify-content: space-between; padding: 0 20px; }

.courses__searsh__box input { background: #fff none repeat scroll 0 0; border: 1px solid #fff; color: #747474; font-size: 13px; height: 41px; padding-left: 20px; width: 271px; }

.courses__searsh__box { position: relative; }

.courses__searsh__box a { background: #e9ae37; height: 40px; line-height: 41px; position: absolute; right: 0; text-align: center; width: 40px; transition: 0.3s; top: 0; }

.courses__searsh__box a:hover { background: #a4a4a4; }

.courses__searsh__box i { color: #fff; font-size: 18px; }

/*----------------------------- 26. Our Courses List -------------------------------*/

.lst__view__details h2 { color: #333; font-size: 18px; margin-bottom: 19px; }

.lst__view__details p { color: #747474; font-size: 14px; }

.lst__view__date { color: #747474; margin: 10px 0; font-size: 14px; }

.lst__view__date span { color: #e9ae37; font-style: italic; }

.list__btn { margin-top: 32px; }

.list__btn .btn--theme { height: 40px; line-height: 38px; padding: 0 22px; }

.list__btn .htc__btn { font-family: 'Roboto Slab'; font-size: 15px; font-weight: 400; text-transform: capitalize; }

.single__list__view { border-bottom: 1px solid #ededed; margin-top: 30px; padding-bottom: 30px; }

.single__list__view { align-items: center; display: flex; }

.htc__courses__grid .htc-pagination { border-top: 1px solid transparent; display: flex; }

/*----------------------------- 27. Our Courses Details -------------------------------*/
.courses__details__top { display: flex; flex-wrap: wrap; justify-content: space-between; }

.courses__details__top h2 { font-size: 30px; }

.courses__teacher { display: flex; align-items: center; }

@media screen and (max-width: 768px) { .courses__teacher { margin-top: 20px; } }

.crs__teacher__images { margin-right: 20px; }

.courses__teacher h4 { align-items: center; color: #333; display: flex; font-family: 'Roboto Slab'; font-size: 15px; text-transform: capitalize; }

.courses__teacher h6 { align-items: center; color: #747474; display: flex; font-family: 'Roboto Slab'; font-size: 15px; text-transform: capitalize; }

.courses__teacher { margin-right: 30px; padding-right: 30px; position: relative; }

.courses__teacher span { align-items: center; display: flex; padding: 0 5px; }

/*Start Tab*/
.courses__view { display: flex; }

.courses__view li a { background: #f0f0f0 none repeat scroll 0 0; color: #333; display: block; font-size: 15px; height: 50px; line-height: 49px; padding: 0 25px; position: relative; transition: all 0.4s ease 0s; }

.courses__view li + li { margin-left: 10px; }

.courses__view li a i { color: #e9ae37; font-size: 16px; padding-right: 10px; }

.courses__view li a::before { background: #e9ae37 none repeat scroll 0 0; content: ''; height: 3px; left: 0; opacity: 0; position: absolute; top: 0; transition: all 0.4s ease 0s; width: 100%; }

.single__crs__content.tab-pane:not(.active) { display: none; }

.courses__view li.active a::before, .courses__view li:hover a::before { opacity: 1; }

.courses__view li.active a, .courses__view li:hover a { background: #fff; }

/*Start Tab Content*/
.single__crs__details h2 { font-family: 'Roboto Slab'; font-size: 18px; font-weight: 700; text-transform: uppercase; }

.single__crs__details p { color: #666; margin-top: 11px; }

.single__crs__details { margin-top: 33px; }

.single__crs__details ul { margin-top: 10px; }

.single__crs__details ul li + li { padding-top: 4px; }

.single__crs__details ul li i { color: #005691; font-size: 14px; padding-right: 12px; }

.single__crs__content { padding: 0px 0px 30px 20px; }

.htc__crs__tab__wrap { border-bottom: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0; }

/*Courses Right SideBAr*/
.crs__features__list { display: flex; }

.feature__duration li i { color: #e9ae37; font-size: 14px; margin-right: 10px; }

.feature__duration li { color: #333; font-size: 15px; }

.feature__time li { color: #333; font-size: 15px; font-weight: 500; }

.feature__time { padding-left: 40px; }

.feature__duration li + li { padding-top: 17px; }

.feature__time li + li { padding-top: 17px; }

.cres__features { margin-top: 39px; }

/*Courses details Button*/

/*------------------ Review --------------------*/

.test-image { border-radius: 5px; background: #ffd700; padding: 20px; }

.test-image .question-title { margin-bottom: 10px; color: #005691; font-size: 18px; font-weight: 600; }

.test-image .question-name { margin: 10px 0; color: #006b02; font-size: 17px; font-weight: 600; }

.test-image p { margin: 15px 0; }

/*-----------------------------
28. Our Shop Grid View
-------------------------------*/

/*----------------------------- 29. Our Shop List View -------------------------------*/

/*----------------------------- 30. Our Shop Details -------------------------------*/

/*PLUS */
.cart-plus-minus { position: relative; }

.cart-plus-minus .dec.qtybutton { border-right: 1px solid #e5e5e5; }

.cart-plus-minus .inc.qtybutton { border-left: 1px solid #e5e5e5; }

.cart-plus-minus .qtybutton { color: #606060; cursor: pointer; font-size: 18px; height: 100%; left: 0; line-height: 39px; position: absolute; text-align: center; top: 50%; transform: translateY(-50%); width: 24px; }

.cart-plus-minus .qtybutton.inc { left: auto; padding-left: 4px; right: -53px; }

/*----------------------------- 31. Our Contact Page -------------------------------*/
.contact__wrap .title__style--2 { font-size: 24px; text-transform: capitalize; }

.contact__wrap p { margin-bottom: 21px; }

.contact__tel { color: #e9ae37 !important; }

.cont__icon span { color: #333; font-size: 15px; font-weight: 700; text-transform: capitalize; }

.cont__icon i { color: #005691; font-size: 16px; padding-right: 20px; }

.contact__address p a { color: #666; font-size: 15px; transition: 0.3s; }

.contact__address p a:hover { color: #f36371; }

.contact__address p { margin-bottom: 0; padding-left: 32px; text-align: left; }

.cont__icon { margin-bottom: 0; }

.contact__address { border-bottom: 1px solid #f0f0f0; border-top: 1px solid #f0f0f0; padding: 27px 0 21px; }

.contact__title { border-bottom: 1px solid #f0f0f0; font-size: 24px; margin-bottom: 10px; padding-bottom: 12px; position: relative; text-transform: capitalize; }

.contact__title::before { background: #f5b120 none repeat scroll 0 0; bottom: 0; content: ''; height: 1px; left: 0; position: absolute; width: 133px; }

.contact-box.name_email input { border: 1px solid #e8e8e8; border-radius: 7px; color: #909090; height: 40px; line-height: 40px; margin: 0 15px; padding: 0 20px; width: 50%; }

.contact-box.name_email { display: flex; margin-left: -15px; margin-right: -15px; }

.contact-box.subject input { border: 1px solid #e8e8e8; border-radius: 7px; color: #909090; height: 40px; line-height: 40px; padding: 0 20px; width: 100%; }

.single-contact-form { margin-top: 20px; }

.contact-box.message textarea { background: transparent none repeat scroll 0 0; border: 1px solid #e8e8e8; border-radius: 7px; min-height: 199px; padding: 14px 20px; }

.contact-btn { margin-top: 30px; }

.contact-box input::-moz-placeholder { color: #909090 !important; }

.contact-box textarea::-moz-placeholder { color: #909090 !important; opacity: 1; }

.contact-btn .htc__btn { border: 1px solid #e9ae37; }

.contact-btn .htc__btn:hover { border: 1px solid #f36371; }

.contact-btn .btn--theme { height: 40px; line-height: 39px; padding: 0 32px; }

/*--------------------------------------- 32. Our Cart Area ----------------------------------------*/

/*---------------------------------------
33. Our Login Area
----------------------------------------*/

/*--------------------------------------- 34. Our Register Area ----------------------------------------*/

@media (min-width: 768px) { .mobile { display: none !important; } }

@media (min-width: 1200px) { .container { max-width: 1170px; } }

img { max-width: 100%; }

.header { width: 100%; background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.6)); display: flex; align-items: center; /*position: fixed;*/ z-index: 9999; }

.slick-prev { left: 15%; }

.slick-next { right: 15%; }

.slick-prev, .slick-next { color: #fff; z-index: 9; background-color: rgba(0, 0, 0, 0.5); top: 60%; }

.slick-prev:hover, .slick-next:hover { background-color: rgba(0, 0, 0, 0.5); }

.slick-prev:before, .slick-prev:after, .slick-next:before, .slick-next:after { content: ''; width: 5px; height: 2px; background-color: #fff; position: absolute; }

.slick-prev:before { transform: rotate(-45deg); left: 8px; top: 8px; }

.slick-prev:after { transform: rotate(45deg); left: 8px; bottom: 8px; }

.slick-next:before { transform: rotate(45deg); left: 8px; top: 8px; }

.slick-next:after { transform: rotate(-45deg); left: 8px; bottom: 8px; }

.slick-slide { position: relative; }

.slick-slide img { width: 100%; }

.support { margin: 50px 0; border-radius: 10px; overflow: hidden; }

.support__item:not(:last-child) .support__title { border-bottom: 2px dashed #fff; }

.support .text { padding-bottom: 10px; }

.support a { color: #e9ae37; }

.support__title { padding: 20px; background: #e9ae37; cursor: pointer; font-size: 18px; }

.support__content { padding: 20px; background: white; display: none; }

.support__content.active { display: block; }

.support .note { margin-top: 20px; font-size: 16px; font-weight: 700; text-decoration: underline; }

.news-detail { color: #333; }

.news-detail__title { font-size: 28px; padding-bottom: 15px; margin-bottom: 20px; border-bottom: 1px solid #eee; line-height: 1.4; }

.news-detail__text { margin-bottom: 10px; }

.news-detail__highlight { font-size: 18px; margin: 20px 0; }

.news-detail img { display: block; margin: 10px auto; }

.combo-box { width: 100%; padding: 28px 0; }

.thumbnail-img { max-width: 240px; display: inline-block; border: solid thin #ccc; }

.content-combo { width: 100%; flex: 1; margin: 0 0 0 28px; }

.title-combo { color: #c0392b; font-size: 30px; }

.sale-combo { display: inline-block; margin-top: 10px; padding: 5px 10px; background-color: #3ca000; color: #fff; font-size: 15px; }

.info-combo { border-top: solid thin #efefef; margin: 20px 0 0 0; padding: 20px 0 0 0; display: flex; flex-flow: row wrap; }

.item-info-combo { width: 50%; display: inline-block; margin: 0 0 5px 0; }

.price-combo { display: flex; flex-direction: column; justify-content: center; text-align: center; }

.sale-price-combo { color: #b8b8b8; text-decoration: line-through; font-size: 20px; }

.text-only-price-combo { margin: 0; }

.after-salce-price-combo { font-size: 30px; -webkit-text-fill-color: white; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black; color: #fff; }

.group-btn-combo { margin: 15px 0 0 0; display: flex; justify-content: center; }

.btn-more { min-width: 170px; background-color: #fff; border: solid thin #ccc; border-radius: 50px; color: #000; }

.btn-buy { min-width: 170px; background-color: #c0392b; color: #fff; border-radius: 50px; }

.introduce { width: 100%; background-color: rgba(255, 216, 0, 0.2); padding: 90px 0; background-image: url("https://tiengnhatcolam.vn/images/bg-introduct.png"); background-size: cover; background-position: center; background-repeat: no-repeat; }

.introduce .h2 { margin: 0 0 30px 0; }

.introduce iframe { width: 100%; }

.title-introduce { color: #723b00; position: relative; font-size: 18px; padding: 25px 0; text-align: justify; }

.title-introduce:before { content: ''; position: absolute; top: 0; left: 0; width: 70px; height: 3px; background-color: #723b00; }

.btn-classroom { min-width: 70%; display: inline-block; text-align: center; background-color: #fff; padding: 10px 30px; border-radius: 50px; color: #000; }

.pro-item .htc__btn { font-size: 14px; font-weight: normal; text-transform: none; text-align: center; flex: auto; }

.pro-item .htc__btn:first-child { background: #a4a4a4; }

.comment-box { position: relative; background: #333; padding-bottom: 300px; }

.comment-box:before { content: ''; position: absolute; left: 0; bottom: -4px; width: 100%; height: 318px; background-image: url("https://tiengnhatcolam.vn/images/bg-top-comment.png"); background-size: cover; background-position: center; background-repeat: no-repeat; }

.sin-testiImage:focus, .sin-testiText:focus { outline: none; }

.course-payment { width: 100%; background-color: #ffd700; padding: 75px 0; }

.text-course-payment { margin: 0 0 0 27px; }

.text-course-payment .h4 { font-size: 38px; margin: 0; }

.text-course-payment p { margin: 0; }

.more-payment { border-color: #fff; margin: 0 0 0 auto; }

.checkbox-courses { display: inline-block; margin-bottom: 30px; color: #a4a4a4; border: solid thin #dedede; border-radius: 50px; }

.checkbox-courses label { display: flex; margin: 0; padding: 6px 0; position: relative; z-index: 0; cursor: pointer; }

.toogle-left-right { content: ''; width: 50%; height: 100%; position: absolute; top: 0; left: 0; background-color: #e9ae37; border-radius: 50px; z-index: -1; transition: left 0.4s; }

.checkbox-courses input { visibility: hidden; opacity: 0; position: absolute; }

.checkbox-courses input:checked + .toogle-left-right { left: 50%; transition: left 0.4s; }

.checkbox-courses input:checked ~ .combo-toggle { color: #fff; transition: color 0.4s; }

.checkbox-courses input:not(:checked) ~ .package-toggle { color: #fff; transition: color 0.4s; }

.package-toggle, .combo-toggle { width: 95px; display: inline-block; text-align: center; line-height: 35px; }

#tab-courses-2 { display: none; }

.title-section { display: inline-block; padding-bottom: 5px; margin-bottom: 10px; border-bottom: 3px solid #e9ae37; }

.title-name-section { color: #747474; font-size: 24px; }

.view-section { font-style: italic; color: #f36371; font-size: 14px; padding-left: 20px; }

.view-section:before { content: '('; }

.view-section:after { content: ')'; }

.dapan { height: 25px; width: 25px; }

.choice { display: flex; flex-wrap: wrap; color: #120d4e; font-size: 18px; }

.form-check { display: flex; align-items: center; width: 50%; margin-bottom: 15px; }

.form-check.wrong { color: #dc3545; }

.form-check.pass { color: #28a745; }

.form-check .form-check-input { margin-top: 0; }

.form-check .form-check-label { margin-bottom: 0; margin-left: 10px; }

.form-check .fa { margin-left: 5px; }

.test { position: relative; padding-top: 30px; margin-bottom: 20px; }

.test + .test:after { content: ''; position: absolute; top: 0; width: 80%; height: 2px; background: #ccc; left: 10%; right: 10%; }

.test__header { display: flex; align-items: center; padding-bottom: 30px; }

.test__number { padding: 5px 20px; border-radius: 5px; background: #ffd700; color: #333; font-weight: 600; margin-right: 10px; }

.test .audio { width: 250px !important; height: 38px !important; margin-left: 10px !important; }

.test-submit { display: flex; justify-content: center; }

.button-submit { display: inline-block; padding: 8px 15px; min-width: 100px; color: #333; border: 1px solid #e9ae37; transition: 0.35s; background: #ffd700; }

.button-submit:hover { background: #fff; }

.hotro-p { background: #f1ffe6; border: 1px solid #bbdd8c; border-radius: 4px; padding: 30px; width: 90%; margin: 30px 5%; }

.hotro-p a { color: #e9ae37; font-weight: 700; }

.hotro-p .tel { font-size: 20px; margin-bottom: 10px; }

.hotro-p-content b { color: #e9ae37; }

@media all and (max-width: 768px) { .combo-box .d-flex { flex-direction: column; }
  .content-combo { margin: 0; }
  .title-combo { padding: 20px 0 10px; }
  .thumbnail-img { max-width: unset; }
  .thumbnail-img img { width: 100%; }
  .price-combo { margin: 20px 0 0 0; }
  .course-payment .d-flex { flex-wrap: wrap; text-align: center; }
  .course-payment img { display: none; }
  .course-payment__text { font-size: 20px; padding: 20px 0 30px; }
  .more-payment { display: block; width: 100%; } }

@media all and (max-width: 600px) { .iframe { width: 100%; height: 250px; } }
